@page "/Spaces/create/"

<PageTitle>Create Space</PageTitle>

@using Domain
@using BusinessLogic
@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager
@inject SpaceLogic SpaceLogic


<div class="card">
    <div class="card-header">CREATE SPACE</div>
    <div class="card-body">
        <label class="card-text p" for="name">Name:</label>
        <input type="text" for="name" class="form-control" @bind="name">
        <br/>
        <div class="error-message">@errorMessage</div>
        <br/>
        <button class="btn btn-success" @onclick="CreationSpace">CREATE</button>
    </div>
</div>

@code {
    private User? currentUser;
    private Space? space;
    
    private bool everythigOk = true;
    private string errorMessage;

    private string? name = "";
    private string? invitedUser = "";
    
    protected override void OnInitialized()
    {
        currentUser = SessionLogic.GetCurrentUser();
    }
    

    public void CreationSpace()
    {
        everythigOk = true;
        space = new Space();
        
        try
        {
            space.Name = name;
        }
        catch (DomainException e)
        {
            everythigOk = false;
            errorMessage = e.Message;
        }
        space.Admin = currentUser;


        if (everythigOk)
        {
            SpaceLogic.AddSpace(space);
            NavigationManager.NavigateTo("/spaces");
        }

    }

}

<style>
    .error-message {
            color: red;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
    }
    
    button{
        float: right;
        align-content: center;
    }
    
    label {
        font-weight: bold;
    }
</style>