@using BusinessLogic
@inject SessionLogic SessionLogic
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Your personal finances</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if (SessionLogic.IsLogged())
{
    
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Categories">
                    <span class="oi oi-list " aria-hidden="true"></span> Categories
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Accounts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Accounts
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Transactions">
                    <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Transactions
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="SpendingGoals">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Spending Goals
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Exchanges">
                    <span class="oi oi-globe" aria-hidden="true"></span> Exchange
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Reports">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Reports
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Spaces">
                    <span class="oi oi-box" aria-hidden="true"></span> Spaces
                </NavLink></div>
        </nav>
    </div>

}

@code {
    private bool collapseNavMenu = true;
    

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}