@page "/404"

<h1>Error 404 - Página no encontrada</h1>
<p>La página que estás buscando no existe.</p>
<p>Por favor, verifica la URL o vuelve a la página de inicio.</p>

<a href="/">Volver a la página de inicio</a>