@page "/reports/create-spending-goals-report"

@using BusinessLogic
@using Domain

@inject SpendingGoalsLogic spendingGoalsLogic
@inject SessionLogic sessionLogic
@inject NavigationManager NavigationManager
@inject TransactionLogic transactionLogic


<h3>CreateSpendingGoalsReport</h3>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Monthly Budget</th>
        <th>Categories</th>
        <th>Actual Spend</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
   
    @foreach (var goals in _spendingGoals)
    {
        <tr>
            <td>@goals.Title</td>
            <td>@goals.MonthlyBudget</td>
            <td>@spendingGoalsLogic.ReturnCategories(goals)</td>
            <td>@transactionLogic.GetTotalSpentFromCategoriesGoal(goals)</td>
        </tr>
        @if (transactionLogic.GetTotalSpentFromCategoriesGoal(goals) > goals.MonthlyBudget)
        {
            <div class="error-message">You have exceeded your budget for this goal</div>;
        }
        else
        {
            <div class="success-message">You are meeting your goal</div>;
        }
    }   
    
    </tbody>
</table>




@code {
    private User? currentUser;
    private Space? currentSpace;

    private List<Domain.SpendingGoals> _spendingGoals = new List<Domain.SpendingGoals>();

    protected override void OnInitialized()
    {
        _spendingGoals = getGoals();
    }
    
    private List<Domain.SpendingGoals> getGoals()
    {
        currentUser = sessionLogic.GetCurrentUser();
        currentSpace = sessionLogic.GetCurrentSpace();
            

        if (currentUser == null || currentSpace == null)
        {
            NavigationManager.NavigateTo("/");
        }

        return spendingGoalsLogic.GetAllGoalsFromSpace(currentSpace.Id);
    }
}

<style>
    .error-message {
    
            color: red;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
    }
    
    .success-message {
    
            color: green;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
    }
</style>